.cards {
  margin-top: 47.5px;
  max-width: 880px;
  min-width: 282px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  display: grid;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 44px;
  font-weight: 900;
}

.card__icon {
  background: transparent url(../images/Vector.svg) right no-repeat;
  width: 21px;
  height: 18px;
  position: absolute;
  margin: 309px 20px 30px 241px;
  border: none;
  opacity: 1;
  transition: opacity 0.1s linear;
  cursor: url(../images/Layer\ 1\ 3.png), auto;
}

.card__icon:hover {
  opacity: 0.6;
}
