.header {
  max-width: 880px;
}

.header__logo {
  margin-top: 45px;
  width: 173px;
  height: 33px;
}

.header__line {
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid rgba(84, 84, 84, 0.7);
  margin: 41px 0 0;
}

@media screen and (max-width: 616px) {
  .header__logo {
    margin-top: 28px;
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .header__line {
    margin-top: 32px;
  }
}
