.cards {
  margin-top: 47.5px;
  max-width: 880px;
  min-width: 282px;
  display: grid;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .cards__content {
    justify-content: center;
  }
}

@media screen and (max-width: 630px) {
  .cards {
    margin-top: 36px;
  }
}
