.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-top: 45px;
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 630px) {
  .header__logo {
    margin-top: 28px;
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }

  .header {
    margin-bottom: 38.25px;
  }
}
