.profile {
  align-items: center;
  padding: 40px 0 0;
  display: flex;
}

/*.profile__avatar-profile{
  position: relative;
  display: inline-block;
  background-color: pink;
  background: center no-repeat url(../images/big\ edit\ pen.svg);
}

.profile__avatar-opened{
  background-color: pink;
  z-index:3;
} */

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 26px;
  margin-left: 23px;
  cursor: pointer;
}

.profile__avatar-button{
  background: center no-repeat url(../images/big\ edit\ pen.svg);
  position: absolute;
  transition: opacity 0.5s linear;
  top: 40px;
  left: 23px;
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: opacity linear 0.2s 0.1s;
  background-color: #000;
  cursor: pointer;
}

.profile__avatar-button:hover{
  opacity: .8;
}


/*
.profile__avatar::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  background: center no-repeat url(../images/big\ edit\ pen.svg);
  opacity: 0;
  transition: opacity 0.5s linear;
}

.profile__avatar:hover::before{
  opacity:1;
} */


.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 7px 18px;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__button-edit {
  height: 24px;
  width: 24px;
  background: transparent url(../images/Vector\ pencil.svg) center no-repeat;
  border: 1px solid #fff;
  margin-top: 15px;
  grid-area: button;
  opacity: 1;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-add {
  background: transparent url(../images/plus-sign1.svg) center no-repeat;
  border: 2px solid #fff;
  margin-left: auto;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 777px) {
  .profile__info {
    grid-gap: 7px 10px;
  }


  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
  .profile__button-edit {
    height: 18px;
    width: 18px;
    background-size: 7.5px;
    margin-top: 30px;
  }
  .profile__button-add {
    background-size: 16px;
    width: 50px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    max-width: 282px;
    margin-left: auto;
  }

.profile__avatar-button{
  opacity: 0;
  top: 0px;
  left: 210px;
}

.profile__avatar-button:hover{
  opacity: .8;
  top: 0px;
  left: 210px;
}

  .profile__name {
    margin-top: 26.25px;
    font-size: 22px;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
    max-width: 196px;
  }
  .profile__subtitle {
    width: 100%;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
    max-width: 282px;
  }
  .profile__button-add {
    margin: 0;
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
  .profile__avatar {
    margin: auto;
  }
}
