@import url(./vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: #000;
  color: #fff;
  font-family: "inter", Arial, sans-serif;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  max-width: 880px;
}
.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border: 0.5px #545454 solid;
  margin: 41px 0 0;
}

.profile {
  align-items: center;
  padding: 40px 0 0;
  display: flex;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 20px;
  max-width: 168px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 9px 17px;
  margin-right: auto;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  grid-area: description;
}
.profile__button-edit {
  height: 24px;
  width: 24px;
  margin-top: 15px;
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  border: 1px solid #fff;
  grid-area: button;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: url(../images/Layer\ 1\ 3.png), auto;
}

.profile__button-add {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  border: 1px solid #fff;
  margin-left: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.profile__button-add:hover {
  opacity: 0.6;
  cursor: url(../images/Layer\ 1\ 3.png), auto;
}

.cards {
  margin-top: 47.5px;
  max-width: 880px;
  min-width: 282px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  display: grid;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 44px;
  font-weight: 900;
}

.card__icon {
  background: transparent url(../images/Vector.svg) right no-repeat;
  width: 21px;
  height: 18px;
  position: absolute;
  margin: 309px 20px 30px 241px;
  border: none;
  opacity: 1;
  transition: opacity 0.1s linear;
  cursor: url(../images/Layer\ 1\ 3.png), auto;
}

.card__icon:hover {
  opacity: 0.6;
}

.footer {
  margin-top: 67px;
  margin-bottom: 60px;
  display: flex;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .cards__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-row-gap: 20px;
    grid-column-gap: 17px;
    justify-content: center;
  }

  .footer {
    margin-top: 67px;
    margin-bottom: 60px;
    margin-left: 114px;
    display: flex;
  }
}

@media screen and (max-width: 770px) {
  .profile__info {
    display: grid;
    grid-template-areas:
      "title button"
      "description description";
    grid-gap: 0 10px;
    margin-right: auto;
  }

  .profile__name {
    font-size: 22px;
    line-height: 48px;
    font-weight: 500;
    grid-area: title;
    margin: 0;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    grid-area: description;
  }
  .profile__button-edit {
    height: 18px;
    width: 18px;
    margin-top: 15px;
    background: transparent url(../images/Edit\ Button.svg) center no-repeat;
    border: 1px solid #fff;
    grid-area: button;
  }

  .profile__button-add {
    background: transparent url(../images/Add\ Button.svg) center no-repeat;
    border: 1px solid #fff;
    margin-left: auto;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 616px) {
  .page {
    margin: 0;
  }

  .header {
    margin-top: 28px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .header__line {
    margin-top: 32px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
  }
  .profile__subtitle {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
  }
  .profile__button-add {
    background: url(../images/plus-sign1.svg) center no-repeat;
    margin: 0;
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
  .profile__avatar {
    width: 127x;
    height: 169px;
    margin-bottom: 20px;
  }

  .cards {
    justify-content: center;
  }

  .page__content {
    display: flex;
    flex-direction: column;
    min-height: 239vh;
  }
  .footer {
    margin: 48px 19px 36px;
    width: 282px;
    font-size: 14px;
    font-weight: 400;
  }
}
