@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 900px) {
  .cards__content {
    justify-content: center;
  }

  .footer__copyright {
    margin-left: 114px;
  }
}

@media screen and (max-width: 770px) {
  .profile__info {
    grid-gap: 0 10px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__subtitle {
    font-size: 14px;
  }
  .profile__button-edit {
    height: 18px;
    width: 18px;
    background-size: 50%;
  }
  .profile__button-add {
    background-size: 30%;
    width: 50px;
  }
}

@media screen and (max-width: 616px) {
  .page {
    margin: 0;
  }
  .header__logo {
    margin-top: 28px;
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }

  .header__line {
    margin-top: 32px;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    font-weight: 500;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 196px;
  }
  .profile__subtitle {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: "inter", Arial, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
  }
  .profile__button-add {
    background: url(../images/plus-sign1.svg) center no-repeat;
    margin: 0;
    width: 282px;
    height: 50px;
    margin-top: 36px;
  }
  .profile__avatar {
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 38.25px 72.75px 26.25px 78.5px;
  }

  .cards {
    margin-top: 36px;
    justify-content: center;
  }

  .footer {
    margin: 48px 19px 36px;
    width: 282px;
    font-weight: 400;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
