@import url(./vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: #000;
  color: #fff;
  font-family: "inter", Arial, sans-serif;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 180vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  max-width: 880px;
}
.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border: 0.5px #545454 solid;
  margin: 41px 0 0;
}

.profile {
  align-items: center;
  padding: 40px 0 0;
  display: flex;
}

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-gap: 9px 17px;
  margin-right: auto;
}

.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  grid-area: description;
}
.profile__button-edit {
  height: 24px;
  width: 24px;
  margin-top: 15px;
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  border: 1px solid #fff;
  grid-area: button;
}

.profile__button-add {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  border: 1px solid #fff;
  margin-left: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
}

.cards {
  height: 742px;
  max-width: 880px;
  min-width: 282px;
  margin: 47.5px auto 67px;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

.cards__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.card {
  margin: 0;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  color: #000;
  font-size: 24px;
  padding-left: 25px;
  font-weight: 900;
}

.card__icon {
  background: transparent url(../images/Vector.svg) right no-repeat;
  width: 21px;
  height: 18px;
  position: absolute;
  margin: 309px 20px 30px 241px;
  border: none;
}
